<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.3.0/dist/flowbite.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Admin | UpAcademy</title>
</head>
<body class="bg-gray-50 text-gray-800 flex flex-col min-h-screen">

<div th:replace="~{fragments/navbar :: navbar}"></div>

<main class="flex-grow max-w-7xl mx-auto px-6 py-12 w-full flex flex-col items-center">
    <h1 class="text-4xl font-extrabold text-center mb-16 text-gray-800">
        Panel de <span class="text-purple-600">Administración</span>
    </h1>

    <div class="w-full max-w-md mx-auto">
        <div class="p-8 bg-white rounded-2xl border border-indigo-200 hover:border-indigo-400 transition shadow-xl">
            <div class="flex justify-center mb-4">
                <span class="bg-indigo-100 text-indigo-600 p-3 rounded-full">
                    <svg class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="id-12 14l9-5-9-5-9 5 9 5zm0 0l9 5-9 5-9-5 9-5zm0 0v6"></path></svg>
                </span>
            </div>
            <h2 class="text-2xl font-bold mb-4 text-gray-800 text-center">Administracion de los usuarios</h2>
            <p class="text-gray-500 mb-6 text-center">Administra los registros, datos personales y niveles de los alumnos inscritos y docentes.</p>
            <a th:href="@{/academy}" class="block text-center bg-indigo-600 text-white py-3 rounded-xl font-bold hover:bg-indigo-700 transition-colors shadow-lg">
                Ver Usuarios
            </a>
        </div>
    </div>
</main>

<footer class="footer footer-horizontal footer-center bg-purple-900 text-purple-100 p-10">
    <aside>
        <figure class="w-20 h-20 rounded-full overflow-hidden border-2 border-purple-600 shadow-lg mx-auto mb-4">
            <img th:src="@{https://ik.imagekit.io/pidh9ua3b/imagen.jpg}" alt="Logo UpAcademy" class="w-full h-full object-cover">
        </figure>
        <p class="font-bold">UpAcademy<br />Educando desde 2025</p>
        <p>Roy Armijos - Bryan Guanoluisa</p>
    </aside>
</footer>

</body>
</html>